inputs:
  url:
    type: string
    required: true
  variant:
    type: string
    required: true
  image:
    type: string
    default: envoyproxy/envoy


runs:
  using: "composite"
  steps:
  - uses: envoyproxy/toolshed/actions/fetch@c6e98431dc09b2514888c385fa8a3eb248741bcb
    id: fetch
    with:
      url: ${{ inputs.url }}
  - run: |
      echo "Copy oci image: oci-archive:${{ steps.fetch.outputs.path }} docker-daemon:${{ inputs.image }}:${{ inputs.variant }}"
      skopeo copy -q "oci-archive:${{ steps.fetch.outputs.path }}" "docker-daemon:${{ inputs.image }}:${{ inputs.variant }}"
      rm ${{ steps.fetch.outputs.path }}
    shell: bash
