name: JavaScript CI

on:
  push:
    branches:
    - main
  pull_request:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true


jobs:
  request:
    runs-on: ubuntu-24.04
    outputs:
      run: ${{ steps.filter.outputs.run }}
    steps:
    - uses: envoyproxy/toolshed/actions/github/should-run@a20f5babb115848cfaf2e3a88b9a512f6d3c07df
      id: filter
      with:
        config: |
          paths:
          - 'js/**'
          - '.github/workflows/js.yml'

  js:
    runs-on: ubuntu-24.04
    needs: request
    if: fromJSON(needs.request.outputs.run)
    strategy:
      fail-fast: false
      matrix:
        node-version:
        - 20.x
        name:
        - appauth
        - dispatch
        - github/checks
        - github/mutex
        - github/script/run
        - hashfiles
        - jq
        - retest
        - torun
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238  # v6.2.0
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
      working-directory: js/${{ matrix.name }}
    - run: npm run lint
      working-directory: js/${{ matrix.name }}
    - run: npm test
      working-directory: js/${{ matrix.name }}
    - run: |
        npm run build
        if [[ $(git status --porcelain) ]]; then
            echo 'Built javascript does not match, did you run `npm run build`?' >&2
            git status
            git diff
            exit 1
        fi
      working-directory: js/${{ matrix.name }}

  status:
    runs-on: ubuntu-24.04
    if: >-
      always()
      && github.event_name == 'pull_request'
    name: JavaScript
    needs:
    - request
    - js
    steps:
    - run: |
        if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" || "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "One or more jobs failed or were cancelled"
            exit 1
        fi
        echo "All required jobs passed or were skipped"
